/* 
@description Compact scrum board for jira Agile
@match       .*RapidBoard.jspa.*
*/

/* Page header */
.ghx-header-compact #ghx-operations{
  padding-top:0px;
}

.ghx-quick-content.aui-expander-content{
  margin-bottom: 0px;
}

.ghx-controls-filters dd, .ghx-controls-filters dt{
  margin-bottom: 0px;
}

/* Column */
    
.ghx-columns{
  padding-top: 0px;  
  margin-top: 0px;
  padding-bottom: 4px;
  -webkit-border-horizontal-spacing: 6px;
}

.ghx-column-headers .ghx-column{
  padding: 0px;
  border-bottom-width: 0px;
}

/* Swimlane */
.ghx-swimlane{
  background-color: rgb(233, 233, 233);
}

#js-swimlane-header-stalker{
  background-color: rgb(233, 233, 233);
}


/* Swimlane header */

.ghx-swimlane-header .ghx-heading {
  margin-bottom: 0px;
  margin-top: 2px; 
}
 

.ghx-swimlane{
  margin-top: 5px;  
}   

.ghx-swimlane-header .ghx-selected{
  background-color: inherit;
  border-top: 4px solid red;
}  
  
.ghx-swimlane-header .ghx-summary{
  font-weight: bold;
}  
  
.ghx-swimlane-header:after {
  display: none;
}
      
.ghx-swimlane-header .ghx-expander .ghx-iconfont {
  margin-top: 3px;
}
      
.ghx-swimlane-header .ghx-type{
  display: none;    
}

.ghx-swimlane-header .ghx-info{
  display: none;    
}


/* Issue */

.ghx-issue{
  line-height:14px;
  margin: 0px;
  margin-bottom:2px;
  min-height: 32px;
}

.ghx-issue .ghx-type{
  display: none;
}

.ghx-issue .ghx-flags{
  display: none;
}

.ghx-issue .ghx-key{
  text-align: right;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 40px;
  transform: rotate(-90deg);
}

.ghx-issue .ghx-key a{
  color: rgb(159, 190, 223);
  font-size: 9px;
}

.ghx-issue .ghx-issue-content{
  padding-top:8px;
  padding-bottom:4px;
  padding-left: 18px;
  min-height: 0px;    
}

.ghx-issue .ghx-summary{
  margin-left: 4px;
  font-size: 17px;      
}

.ghx-issue.ghx-has-avatar .ghx-issue-fields{
  padding-right: 22px;
}

.ghx-issue .ghx-avatar{
  top:0px;        
  right:0px;
  height:100%
}

.ghx-avatar-img{
  position: absolute;
  border-radius: 0px;
  bottom:0px;
  right:0px;
}
