/* page */
#ghx-pool{
	background-color: #999;
}


/* Page headers */

.ghx-header-compact #ghx-operations{
	padding-top: 0;
}

.ghx-header-compact .ghx-controls-work {
    min-height: 0px;
}
.ghx-header-compact .ghx-controls-work .ghx-controls-filters{
    display:none;
}


.ghx-header-compact #ghx-controls .aui-button{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 24px;
    bottom: auto;
	padding: 0 0;
    height: 16px;
    background: transparent;
    border:0;
}


/* Column headers */
#ghx-column-header-group.ghx-fixed{
	background-color: transparent;
}
#ghx-column-headers{
    top: 0px !important;
    background-color: #999;
    padding-top: 0px;
}
.ghx-column-headers .ghx-column{
	border-bottom:none;
    padding: 0px;
   	text-align: center;
}
.ghx-column-headers h2{
	color: #ddd;
    font-weight: bold;
}



/* Swimlanes */

.ghx-swimlane {
    background-color: #555;
    margin-bottom: 2px;
    padding-bottom: 1ex;
    border-radius:0.6em;
    box-shadow:
        0.2em 0.2em 0.4em rgba(0,0,0,0.2) inset;
}

.ghx-swimlane-header{
    font-weight:bold;
    color: #fa5;
}

.ghx-swimlane-header .ghx-heading{
	margin: 0.3em 0 0.2em 0;
}

.ghx-swimlane-header a{
    color: #79f;
}

.ghx-swimlane-header:after{
    content:none;
}
.ghx-swimlane-header.ghx-selected{
    background-color: transparent;
}
.ghx-swimlane-header.ghx-selected .ghx-heading{
    text-decoration: underline;
}
.ghx-swimlane-header .aui-lozenge{
	display: none;
}
.ghx-swimlane-header .ghx-description{
	display: none;
}

.ghx-bandaid {
	display: none;
}

.ghx-column-headers .ghx-column, .ghx-columns .ghx-column{
    background-color: transparent;
}

/* stalking swimlane header */
#js-swimlane-header-stalker{
    background-color: #555;
        box-shadow:
        0.2em 0.2em 0.4em rgba(0,0,0,0.2) inset;
}

/* Issues */

.ghx-issue{
    border: 0px;
    border-radius: 0.3em;
    margin-bottom: 3px;
    box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.3);
    line-height: 1.2;
}
.ghx-issue .ghx-issue-content{
    min-height: 2em;
    padding: 0.3em 0.5em;
}
.ghx-issue .ghx-key{
	font-weight: bold;
}
.ghx-issue .ghx-avatar{
	top: 0.3em;
    right: 0.3em;
}

/* Issue noise */
.ghx-type{
	display:none;
}
.ghx-flags{
	display:none;
}
.ghx-grabber{
	display:none;
}