@-moz-document regexp(".*RapidBoard.jspa.*") {
/* page */
#ghx-pool{
	background-color: #999;
}


/* Column headers */

#ghx-column-header-group.ghx-fixed{
	background-color: transparent;
}
#ghx-column-headers{
    background-color: #999;
}
.ghx-column-headers .ghx-column{
	border-bottom:none;
    padding: 0.5em 0px;
}



/* Swimlanes */

.ghx-swimlane {
    background-color: #555;
    margin-bottom: 2px;
    padding-bottom: 1ex;
    border-radius:0.6em;
    box-shadow:
        0.2em 0.2em 0.4em rgba(0,0,0,0.2) inset;
}

.ghx-swimlane-header{
    font-weight:bold;
    color: #fa5;
}

.ghx-swimlane-header .ghx-heading{
	margin: 0.5em 0em;
}

.ghx-swimlane-header a{
    color: #79f;
}

.ghx-swimlane-header:after{
    content:none;
}
.ghx-swimlane-header.ghx-selected{
    background-color: transparent;
    font-weight:bold;
}
.ghx-swimlane-header .aui-lozenge{
	display: none;
}
.ghx-swimlane-header .ghx-description{
	display: none;
}
.ghx-swimlane-header .ghx-bandaid,
.ghx-swimlane-header.ghx-selected .ghx-bandaid{
    background: none;
    box-shadow: none;
    padding-right: 0px;
    padding-top: 0em;
}
.ghx-bandaid .aui-button{
	opacity: 0.7;
    border-radius: 2px;
    padding: 0px 0.5em;
    height: auto;
}

.ghx-column-headers .ghx-column, .ghx-columns .ghx-column{
    background-color: transparent;
}

/* stalking swimlane header */
#js-swimlane-header-stalker{
    background-color: #555;
        box-shadow:
        0.2em 0.2em 0.4em rgba(0,0,0,0.2) inset;
}

/* Issues */

.ghx-issue{
    border: 0px;
    border-radius: 0.3em;
    margin-bottom: 3px;
    box-shadow: 0.2em 0.2em 0.4em rgba(0,0,0,0.3);
    line-height: 1.2;
}
.ghx-issue .ghx-issue-content{
    min-height: 2em;
    padding: 0.3em 0.5em;
}
.ghx-issue .ghx-key{
	font-weight: bold;
}
.ghx-issue .ghx-avatar{
	top: 0.4em;
    right: 0.4em;
}

/* Issue noise */
.ghx-type{
	display:none;
}
.ghx-flags{
	display:none;
}
.ghx-grabber{
	display:none;
}
}