@-moz-document regexp(".*RapidBoard.jspa.*") {
    .ghx-column-headers .ghx-column{
        border: none;
        text-align: center;
        padding-bottom: 0;
    }
    .ghx-column {
        background: none !important;
        padding-top: 0 !important;
    }


    .ghx-columns{
        background: #f5f5f5;
        box-shadow: inset 1px 1px 7px -1px rgba(0,0,0, 0.2);

    }

    .ghx-swimlane-header {
        top: 14px !important;
    }
    .ghx-swimlane-header .ghx-heading, .ghx-swimlane-header .ghx-expander .ghx-iconfont {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .ghx-issue {
        box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.2);
        padding: 0 2px 2px 25px;
    }
    .ghx-issue-content{
        max-height: 100px;
        min-height: 73px !important;
        display: flex;
        flex-direction: column;
    }
    .ghx-issue-fields {
        padding: 0 !important;
        line-height: 15px;
    }
    .ghx-summary .ghx-inner{
        max-height: 57px !important;
    }
    .ghx-highlighted-fields{
        margin: 2px 0 0 0 !important;
        padding: 0 !important;
        bottom: 2px;
        left: 5px
    }
    .ghx-highlighted-field{
        margin: 0 !important;
    }
    .aui-label{
        margin: 0 !important;
    }


    .ghx-card-footer {
        position: static;
        margin: 0 !important;
    }
    .ghx-avatar {
        top: 1px !important;
        right: -3px !important;
    }
    .ghx-type {
        position: absolute;
        top: 3px !important;
        left: 6px !important;
    }
    .ghx-flags {
        position: absolute;
        top: 22px !important;
        left: 6px !important;
    }
    .ghx-end {
        position: absolute;
        top: 41px !important;
        left: 6px !important;
    }
    .ghx-end aui-badge {
        padding: 0 !important;
    }


}