@-moz-document url-prefix("http://tidbank/") {
    /*

    saneBank.css
    Et stilark for tidBank som får hele fordelingsbildet inn på en normal skjerm, og generelt svir litt mindre i øya

    INSTALL
    Bruk f.eks. Stylus for Chrome: https://chrome.google.com/webstore/detail/stylus-beta/apmmpaebfobifelkijhaljbmpcgbjbdo
    -og velg "Manage", "Write new style" og "Mozilla Format/import".

    CHANGELOG
    v1.1: fiks usynlige inputsiffer i "Korrigere"-visning

    */
    .pulse {
        animation-name: none;
    }
    .cellWeek {
        padding: 0 !important;
    }
    .rgMasterTable {
        min-width: 0 !important;
    }
    .rgMasterTable tr {
        height: auto !important;
    }
    .rgMasterTable .cellWeek {
        padding-right: 0.5ex !important;
        text-align: right !important;
    }
    .rgMasterTable .orangeBack1 .cellWeek {
        padding-right: 0 !important;
    }
    .rgMasterTable .cellWeek input.riTextBox {
        border: none !important;
        border-radius: 0;
        padding-right: 0.5ex !important;
        padding-left: 0 !important;
        text-align: right !important;
    }
    .rgMasterTable .rcbInner {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    .rcbInner,
    .rcbActionButton,
    .riTextBox {
        padding-bottom: 1px !important;
    }
    .rgMasterTable button {
        border: none !important;
        border-radius: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .riFocused {
        box-shadow: inset 0 0 0 2px rgba(200, 200, 256, 0.75) !important;
    }
    .footer {
        min-height: 0;
        margin: 0;
    }
}